// COLORS
$c-bg:              #f9f9fb;
$c-text:            #262626;
$c-danger:          #d04f47;
$c-success:         #47d08d;
$c-primary:         #3369e6;
$c-input-border:    rgba(138, 138, 138, .6);

// RADIUS
$radius-xs: .25rem;
$radius-sm: .5rem;
