// COLORS
$c-bg:              #f9f9fb;
$c-white:           #fff;
$c-text:            #262626;
$c-danger:          #d04f47;
$c-success:         #47d08d;
$c-success-hover:   #2BB471;
$c-primary:         #3369e6;
$c-input-border:    rgba(138, 138, 138, .6);

// RADIUS
$radius-xs: .25rem;
$radius-sm: .5rem;


// SHADOW
$shadow-basic: 0 0 6px rgba(0, 0, 0, 15%);

// OTHER
$transition: .2s all ease-in-out;
